In [1]:
import pandas as pd
import numpy as np

In [17]:
final_data = pd.read_csv("../DATA/final_data.csv", index_col=0)
final_data

,세대수,인구수,202003_maxAmt,202003_minAmt,202003_saleAmt,202004_maxAmt,202004_minAmt,202004_saleAmt,202005_maxAmt,202005_minAmt,...,sun,thirdHour,thur,tues,wed,weekend,등급,편의점 경쟁업체 수,여성인구,외국인 수
중앙동,1556.667684,2730.361469,8355.0,1792.0,5568.0,7535.0,1616.0,5021.0,8389.0,1799.0,...,6.66,26.81,17.09,16.97,16.80,16.64,3등급,25,1182.011123,460.298931
동광동,1866.204542,3098.727611,4142.0,945.0,2499.0,4164.0,950.0,2512.0,5018.0,1145.0,...,8.79,22.35,15.77,15.81,15.45,21.75,4등급,5,1463.736299,256.359308
대청동,3490.663882,6488.369946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4등급,4,3452.871568,81.449122
보수동,5829.283647,10777.853924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5등급,4,5560.037126,236.615988
부평동,2675.937584,4824.404823,6823.0,1427.0,4028.0,6989.0,1462.0,4126.0,7749.0,1621.0,...,10.54,21.80,14.95,14.87,14.57,25.88,2등급,11,2558.370644,272.022234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
강서구,89839.986822,212685.372048,39157.0,14270.0,25914.0,37217.0,13560.0,24602.0,39430.0,14332.0,...,60.42,152.97,93.36,91.59,93.87,139.24,NaN,160,70485.576769,5042.802131
연제구,184913.229666,419594.596814,98167.0,31177.0,61055.0,91934.0,29197.0,57195.0,96464.0,30556.0,...,119.56,253.11,182.30,180.86,183.74,288.85,NaN,181,109115.554361,1029.557174
수영구,168431.423869,355326.328643,107367.0,28603.0,57705.0,109232.0,31220.0,59972.0,114919.0,32129.0,...,108.19,200.73,152.08,147.00,148.73,257.79,NaN,173,93800.931574,1775.365816
사상구,194439.919504,432266.162913,84864.0,28433.0,55860.0,82445.0,27767.0,54324.0,88286.0,29886.0,...,114.47,261.97,187.02,184.44,184.72,275.90,NaN,158,106891.318031,5194.576562
기장군,149557.940467,353084.862935,43393.0,12070.0,26432.0,40242.0,10717.0,24210.0,42703.0,11350.0,...,68.53,110.18,70.73,69.78,71.21,146.61,NaN,154,88745.189524,2169.657420

# 5가지 컬럼으로 분석

## 총인구

In [20]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 중앙동 to 기장군
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   세대수             218 non-null    float64
 1   인구수             218 non-null    float64
 2   202003_maxAmt   205 non-null    float64
 3   202003_minAmt   205 non-null    float64
 4   202003_saleAmt  205 non-null    float64
 5   202004_maxAmt   205 non-null    float64
 6   202004_minAmt   205 non-null    float64
 7   202004_saleAmt  205 non-null    float64
 8   202005_maxAmt   205 non-null    float64
 9   202005_minAmt   205 non-null    float64
 10  202005_saleAmt  205 non-null    float64
 11  202006_maxAmt   205 non-null    float64
 12  202006_minAmt   205 non-null    float64
 13  202006_saleAmt  205 non-null    float64
 14  202007_maxAmt   205 non-null    float64
 15  202007_minAmt   205 non-null    float64
 16  202007_saleAmt  205 non-null    float64
 17  202008_maxAmt   205 non-null    float64
 18  202008_minAmt   205 non-null    float64
 19  202008_saleAmt  205 non-null    float64
 20  202009_maxAmt   205 non-null    float64
 21  202009_minAmt   205 non-null    float64
 22  202009_saleAmt  205 non-null    float64
 23  202010_maxAmt   205 non-null    float64
 24  202010_minAmt   205 non-null    float64
 25  202010_saleAmt  205 non-null    float64
 26  202011_maxAmt   205 non-null    float64
 27  202011_minAmt   205 non-null    float64
 28  202011_saleAmt  205 non-null    float64
 29  202012_maxAmt   205 non-null    float64
 30  202012_minAmt   205 non-null    float64
 31  202012_saleAmt  205 non-null    float64
 32  202101_maxAmt   205 non-null    float64
 33  202101_minAmt   205 non-null    float64
 34  202101_saleAmt  205 non-null    float64
 35  202102_maxAmt   205 non-null    float64
 36  202102_minAmt   205 non-null    float64
 37  202102_saleAmt  205 non-null    float64
 38  202103_maxAmt   205 non-null    float64
 39  202103_minAmt   205 non-null    float64
 40  202103_saleAmt  205 non-null    float64
 41  guAmt           205 non-null    float64
 42  guMax           205 non-null    float64
 43  guMin           205 non-null    float64
 44  prevMonCnt      205 non-null    float64
 45  prevYearCnt     205 non-null    float64
 46  saleCnt         205 non-null    float64
 47  day             205 non-null    float64
 48  dayAvg          205 non-null    float64
 49  fifthHour       205 non-null    float64
 50  firstHour       205 non-null    float64
 51  fourthHour      205 non-null    float64
 52  fri             205 non-null    float64
 53  mon             205 non-null    float64
 54  sat             205 non-null    float64
 55  secondHour      205 non-null    float64
 56  sixthHour       205 non-null    float64
 57  sun             205 non-null    float64
 58  thirdHour       205 non-null    float64
 59  thur            205 non-null    float64
 60  tues            205 non-null    float64
 61  wed             205 non-null    float64
 62  weekend         205 non-null    float64
 63  등급              203 non-null    object
 64  편의점 경쟁업체 수      223 non-null    int64
 65  여성인구            218 non-null    float64
 66  외국인 수           218 non-null    float64
dtypes: float64(65), int64(1), object(1)
memory usage: 118.5+ KB

## 유동인구

## 구매력

## 경쟁업체

## 무인화