In [2]:
import pandas as pd
import numpy as np

In [3]:
final_data = pd.read_csv("../DATA/final_data.csv", index_col=0)
final_data

,세대수,인구수,202003_maxAmt,202003_minAmt,202003_saleAmt,202004_maxAmt,202004_minAmt,202004_saleAmt,202005_maxAmt,202005_minAmt,...,sun,thirdHour,thur,tues,wed,weekend,등급,편의점 경쟁업체 수,여성인구,외국인 수
중앙동,1556.667684,2730.361469,8355.0,1792.0,5568.0,7535.0,1616.0,5021.0,8389.0,1799.0,...,6.66,26.81,17.09,16.97,16.80,16.64,3등급,25,1182.011123,460.298931
동광동,1866.204542,3098.727611,4142.0,945.0,2499.0,4164.0,950.0,2512.0,5018.0,1145.0,...,8.79,22.35,15.77,15.81,15.45,21.75,4등급,5,1463.736299,256.359308
대청동,3490.663882,6488.369946,4590.0,4396.0,4493.0,4493.0,4303.0,4398.0,4437.0,4249.0,...,10.42,23.73,15.00,15.13,14.87,24.73,4등급,4,3452.871568,81.449122
보수동,5829.283647,10777.853924,6926.0,4483.0,5196.0,6503.0,4209.0,4879.0,6701.0,4337.0,...,10.25,23.64,15.34,15.20,15.27,24.18,5등급,4,5560.037126,236.615988
부평동,2675.937584,4824.404823,6823.0,1427.0,4028.0,6989.0,1462.0,4126.0,7749.0,1621.0,...,10.54,21.80,14.95,14.87,14.57,25.88,2등급,11,2558.370644,272.022234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
강서구,89839.986822,212685.372048,49678.0,19923.0,33516.0,47647.0,19164.0,32138.0,50934.0,20513.0,...,71.41,172.00,108.32,106.49,109.01,164.49,NaN,160,70485.576769,5042.802131
연제구,184913.229666,419594.596814,98167.0,31177.0,61055.0,91934.0,29197.0,57195.0,96464.0,30556.0,...,119.56,253.11,182.30,180.86,183.74,288.85,NaN,181,109115.554361,1029.557174
수영구,168431.423869,355326.328643,107367.0,28603.0,57705.0,109232.0,31220.0,59972.0,114919.0,32129.0,...,108.19,200.73,152.08,147.00,148.73,257.79,NaN,173,93800.931574,1775.365816
사상구,194439.919504,432266.162913,84864.0,28433.0,55860.0,82445.0,27767.0,54324.0,88286.0,29886.0,...,114.47,261.97,187.02,184.44,184.72,275.90,NaN,158,106891.318031,5194.576562
기장군,149557.940467,353084.862935,43393.0,12070.0,26432.0,40242.0,10717.0,24210.0,42703.0,11350.0,...,68.53,110.18,70.73,69.78,71.21,146.61,NaN,154,88745.189524,2169.657420

## 각 동이 속한 구 dictionary 생성

In [4]:
dong_file = open("../DATA/부산_행정동.txt")
dong_list = {}
gu_list = []
curr_dong = ''
for dong in dong_file:
    dong = dong.strip()
    if dong.find('·') == -1:
        curr_dong = dong
        gu_list.append(curr_dong)
    else:
        for don in dong.split(' · '):
            dong_list[don] = curr_dong

print(dong_list)

{'중앙동': '중구', '동광동': '중구', '대청동': '중구', '보수동': '중구', '부평동': '중구', '광복동': '중구', '남포동': '중구', '영주1동': '중구', '영주2동': '중구', '동대신1동': '서구', '동대신2동': '서구', '동대신3동': '서구', '서대신1동': '서구', '서대신3동': '서구', '서대신4동': '서구', '부민동': '서구', '아미동': '서구', '초장동': '서구', '충무동': '서구', '남부민1동': '서구', '남부민2동': '서구', '암남동': '서구', '초량1동': '동구', '초량2동': '동구', '초량3동': '동구', '초량6동': '동구', '수정1동': '동구', '수정2동': '동구', '수정4동': '동구', '수정5동': '동구', '좌천동': '동구', '범일1동': '동구', '범일2동': '동구', '범일5동': '동구', '남항동': '영도구', '영선1동': '영도구', '영선2동': '영도구', '신선동': '영도구', '봉래1동': '영도구', '봉래2동': '영도구', '청학1동': '영도구', '청학2동': '영도구', '동삼1동': '영도구', '동삼2동': '영도구', '동삼3동': '영도구', '부전1동': '부산진구', '부전2동': '부산진구', '연지동': '부산진구', '초읍동': '부산진구', '양정1동': '부산진구', '양정2동': '부산진구', '전포1동': '부산진구', '전포2동': '부산진구', '부암1동': '부산진구', '부암3동': '부산진구', '당감1동': '부산진구', '당감2동': '부산진구', '당감4동': '부산진구', '가야1동': '부산진구', '가야2동': '부산진구', '개금1동': '부산진구', '개금2동': '부산진구', '개금3동': '부산진구', '범천1동': '부산진구', '범천2동': '부산진구', '수민동': '동래구', '복산동': '동래구', '명륜동': '동래구', '온천1동': '동래구', '온천2동': '동래구', '온천3동': '동래구', '사직1동': '동래구', '사직2동': '동래구', '사직3동': '동래구', '안락1동': '동래구', '안락2동': '동래구', '명장1동': '동래구', '명장2동': '동래구', '대연1동': '남구', '대연3동': '남구', '대연4동': '남구', '대연5동': '남구', '대연6동': '남구', '용호1동': '남구', '용호2동': '남구', '용호3동': '남구', '용호4동': '남구', '용당동': '남구', '감만1동': '남구', '감만2동': '남구', '우암동': '남구', '문현1동': '남구', '문현2동': '남구', '문현3동': '남구', '문현4동': '남구', '민우모택동': '남구', '선자욱지동': '남구', '구포1동': '북구', '구포2동': '북구', '구포3동': '북구', '금곡동': '북구', '화명1동': '북구', '화명2동': '북구', '화명3동': '북구', '덕천1동': '북구', '덕천2동': '북구', '덕천3동': '북구', '만덕1동': '북구', '만덕2동': '북구', '만덕3동': '북구', '우1동': '해운대구', '우2동': '해운대구', '우3동': '해운대구', '중1동': '해운대구', '중2동': '해운대구', '좌1동': '해운대구', '좌2동': '해운대구', '좌3동': '해운대구', '좌4동': '해운대구', '송정동': '해운대구', '반여1동': '해운대구', '반여2동': '해운대구', '반여3동': '해운대구', '반여4동': '해운대구', '반송1동': '해운대구', '반송2동': '해운대구', '재송1동': '해운대구', '재송2동': '해운대구', '괴정1동': '사하구', '괴정2동': '사하구', '괴정3동': '사하구', '괴정4동': '사하구', '당리동': '사하구', '감천1동': '사하구', '감천2동': '사하구', '다대1동': '사하구', '다대2동': '사하구', '구평동': '사하구', '장림1동': '사하구', '장림2동': '사하구', '신평1동': '사하구', '신평2동': '사하구', '하단1동': '사하구', '하단2동': '사하구', '서1동': '금정구', '서2동': '금정구', '서3동': '금정구', '금사동': '금정구', '부곡1동': '금정구', '부곡2동': '금정구', '부곡3동': '금정구', '부곡4동': '금정구', '장전1동': '금정구', '장전2동': '금정구', '선두구동': '금정구', '청룡노포동': '금정구', '남산동': '금정구', '구서1동': '금정구', '구서2동': '금정구', '금성동': '금정구', '대저1동': '강서구', '대저2동': '강서구', '강동동': '강서구', '명지1동': '강서구', '명지2동': '강서구', '가락동': '강서구', '녹산동': '강서구', '가덕도동': '강서구', '거제1동': '연제구', '거제2동': '연제구', '거제3동': '연제구', '거제4동': '연제구', '연산1동': '연제구', '연산2동': '연제구', '연산3동': '연제구', '연산4동': '연제구', '연산5동': '연제구', '연산6동': '연제구', '연산8동': '연제구', '연산9동': '연제구', '남천1동': '수영구', '남천2동': '수영구', '수영동': '수영구', '망미1동': '수영구', '망미2동': '수영구', '광안1동': '수영구', '광안2동': '수영구', '광안3동': '수영구', '광안4동': '수영구', '민락동': '수영구', '삼락동': '사상구', '모라1동': '사상구', '모라3동': '사상구', '덕포1동': '사상구', '덕포2동': '사상구', '괘법동': '사상구', '감전동': '사상구', '주례1동': '사상구', '주례2동': '사상구', '주례3동': '사상구', '학장동': '사상구', '엄궁동': '사상구', '기장읍': '기장군', '장안읍': '기장군', '정관읍': '기장군', '일광면': '기장군', '철마면': '기장군'}

# 5가지 컬럼으로 분석

In [5]:
final_df = pd.DataFrame(index = list(dong_list.keys()) + gu_list)

## 총인구

In [6]:
final_df['인구수'] = final_data['인구수']
final_df

               인구수
중앙동    2730.361469
동광동    3098.727611
대청동    6488.369946
보수동   10777.853924
부평동    4824.404823
..             ...
강서구  212685.372048
연제구  419594.596814
수영구  355326.328643
사상구  432266.162913
기장군  353084.862935

[223 rows x 1 columns]

## 유동인구

In [7]:
final_df['유동인구'] = final_data['dayAvg']
final_df

               인구수     유동인구
중앙동    2730.361469   5509.0
동광동    3098.727611    841.0
대청동    6488.369946    501.0
보수동   10777.853924    456.0
부평동    4824.404823    923.0
..             ...      ...
강서구  212685.372048  33360.0
연제구  419594.596814  28325.0
수영구  355326.328643  26066.0
사상구  432266.162913  42908.0
기장군  353084.862935  38827.0

[223 rows x 2 columns]

## 구매력

In [8]:
def makeDatesColumn():
    dates = []
    for year in range(2020, 2022):
        for month in range(1, 13):
            if year == 2020 and month < 3:
                continue
            if year == 2021 and month > 3:
                continue
            dates.append("{0}{1:0>2}".format(year, month))
    return dates

dates = makeDatesColumn()
dates

['202003',
 '202004',
 '202005',
 '202006',
 '202007',
 '202008',
 '202009',
 '202010',
 '202011',
 '202012',
 '202101',
 '202102',
 '202103']

In [9]:
from sklearn.linear_model import LinearRegression
import numpy as np
import math
predictDate = 202105
final_df['구매력'] = None

for dong in final_data.index:
    X = []
    Y = []
    for date in dates:
        X.append(int(date))
        if not math.isnan(final_data[date + '_saleAmt'][dong]):
            Y.append(int(final_data[date + '_saleAmt'][dong]))
    if Y:
        X = np.array(X)
        y = np.array(Y)
        reg = LinearRegression().fit(X.reshape(-1, 1), y)
        predict = reg.predict((np.array([[predictDate]])))[0]
        print(dong, predict)
        final_df['구매력'][dong] = predict
        # final_data['세대수'][dong_population] = predict
    else:
        print(dong, "NO")

중앙동 5973.89526627661
동광동 3687.832732355455
대청동 5312.156844085315
보수동 5747.936901035719
부평동 4855.975190144498
광복동 4800.066571006086
남포동 5888.190538501134
영주1동 4574.254960855935
영주2동 3589.9731084066443
동대신1동 5345.663531667553
동대신2동 5931.883891066536
동대신3동 5109.28623153409
서대신1동 4695.141498702578
서대신3동 5481.301220047055
서대신4동 4937.355203973129
부민동 4508.538768652012
아미동 4967.772428867407
초장동 4961.282127536833
충무동 4389.308349999657
남부민1동 6872.960499022156
남부민2동 3336.7745403451845
암남동 6498.819491015078
초량1동 8387.025873028906
초량2동 6038.609689003322
초량3동 5359.29968848289
초량6동 4119.571503981366
수정1동 5557.6298744268715
수정2동 3925.938923295471
수정4동 3589.9731084066443
수정5동 4210.360333970515
좌천동 4048.138993182336
범일1동 6039.6805201370735
범일2동 7259.3622298387345
범일5동 7667.796227593441
남항동 5573.728095284081
영선1동 5898.404964945046
영선2동 3436.704021471669
신선동 3589.9731084066443
봉래1동 4459.911912745563
봉래2동 5524.27314632386
청학1동 6577.784949034598
청학2동 5289.72441506898
동삼1동 4507.896901928121
동삼2동 3542.26675984927
동삼3동 5557.6298744268715
부전1동 6597.82523809874
부전2동 6610.11076332815
연지동 5069.2852427084
초읍동 6392.34388080542
양정1동 5784.969621495577
양정2동 5806.1513051751535
전포1동 8929.153595087118
전포2동 7514.5890500582755
부암1동 6974.041991628357
부암3동 2456.229169609025
당감1동 4584.63524233643
당감2동 8615.373277919833
당감4동 5760.388236693805
가야1동 3279.8785975034116
가야2동 6284.278744712006
개금1동 4746.704683166812
개금2동 4083.2880530543625
개금3동 6471.068712222157
범천1동 7302.167356861988
범천2동 9235.895429842174
수민동 4639.086444168584
복산동 6627.686527437996
명륜동 6187.030400808901
온천1동 7006.823379404377
온천2동 4265.215296313167
온천3동 5536.37419239711
사직1동 4196.667033449048
사직2동 3889.758265614859
사직3동 5242.786465729387
안락1동 3774.0890686453786
안락2동 4685.495936893625
명장1동 4990.951703679515
명장2동 5445.629636513768
대연1동 5246.5508724711835
대연3동 5063.050125275971
대연4동 5320.769417782547
대연5동 6264.11687471671
대연6동 5710.859988253098
용호1동 5829.356586842099
용호2동 4127.054935577791
용호3동 6803.987360876752
용호4동 2192.926484911004
용당동 6710.250321554486
감만1동 5236.447700051358
감만2동 4644.175111335702
우암동 4014.684438265336
문현1동 4948.581749106059
문현2동 7909.251570596942
문현3동 5162.345427239779
문현4동 6217.720355679798
민우모택동 NO
선자욱지동 NO
구포1동 4576.107544069644
구포2동 4354.827096793393
구포3동 5137.5006133692805
금곡동 4789.166115254164
화명1동 6341.407039248152
화명2동 5609.324565251358
화명3동 6004.630513817538
덕천1동 5197.736689887941
덕천2동 3541.615711173974
덕천3동 6340.982699270593
만덕1동 4895.894455885515
만덕2동 4557.012453253847
만덕3동 2671.761328743305
우1동 5891.374118049396
우2동 5156.336676505336
우3동 9592.570135981776
중1동 6172.032333851326
중2동 5609.325003903359
좌1동 7726.019412206486
좌2동 7544.013471818413
좌3동 5451.357516189339
좌4동 5947.411909028189
송정동 NO
반여1동 5976.905600618571
반여2동 4455.7358869319
반여3동 6540.902567228768
반여4동 5248.190560805611
반송1동 3614.7301472829604
반송2동 3654.752674661533
재송1동 5896.83085135647
재송2동 4212.825550359441
괴정1동 4573.645093417959
괴정2동 4216.267391805421
괴정3동 3650.108287547482
괴정4동 4702.883913369966
당리동 4837.212679271353
감천1동 5363.382623435929
감천2동 5153.599607443437
다대1동 4988.061418704339
다대2동 4971.67319688038
구평동 5459.378578916425
장림1동 5473.082035344953
장림2동 5267.514613056905
신평1동 4786.599942008499
신평2동 5858.977933577495
하단1동 5329.20528166648
하단2동 6049.737359018065
서1동 4509.662736146711
서2동 4722.499178457074
서3동 3855.868642335059
금사동 NO
부곡1동 3870.817885102937
부곡2동 5811.8079745434225
부곡3동 6292.921682044398
부곡4동 3412.9734206665307
장전1동 4314.757611354347
장전2동 5116.937072034925
선두구동 4340.255116986111
청룡노포동 5058.590849274304
남산동 3817.157684215228
구서1동 6508.8340780502185
구서2동 4227.908009486739
금성동 3589.9731084066443
대저1동 4560.3287733359175
대저2동 4254.007970082574
강동동 4929.181743158144
명지1동 5828.535579131916
명지2동 6282.965487758629
가락동 4296.421507326973
녹산동 NO
가덕도동 4730.9614135008305
거제1동 5390.912559570745
거제2동 3372.761351048015
거제3동 4719.211727619404
거제4동 4464.7350021936
연산1동 5731.205207318533
연산2동 5236.259548114613
연산3동 5073.148294090293
연산4동 4416.1485840465175
연산5동 5999.484487334848
연산6동 4175.853519995697
연산8동 4125.600990312407
연산9동 5575.722586113261
남천1동 4239.0114792981185
남천2동 6019.304260871373
수영동 11721.54981673276
망미1동 4602.2772726258845
망미2동 3558.4987026311574
광안1동 6088.594596403069
광안2동 5870.509207972791
광안3동 4703.757224745932
광안4동 4740.768666869728
민락동 7251.550976558123
삼락동 5123.277807930019
모라1동 5930.87808450358
모라3동 6996.499899630435
덕포1동 3131.743529883912
덕포2동 4862.110473372333
괘법동 6258.5884181023575
감전동 5545.9377932092175
주례1동 6555.052861274453
주례2동 4004.392697560601
주례3동 5198.318357211305
학장동 5564.189624023245
엄궁동 5475.381865088508
기장읍 4554.265927154018
장안읍 5328.681813788484
정관읍 4748.561697508674
일광면 5131.027932462515
철마면 4499.941228076583
중구 44430.28211266734
서구 67036.08778242767
동구 66203.38696534699
영도구 53958.29814948328
부산진구 122498.37819230929
동래구 66487.5943510551
남구 91402.12932053627
북구 64017.96682601841
해운대구 98691.31441677874
사하구 80681.32995546609
금정구 69450.96504910663
강서구 34882.40247429424
연제구 58281.043857757
수영구 58795.82220470905
사상구 64646.37141179107
기장군 24262.478598990478

## 경쟁업체

In [10]:
final_df['경쟁업체'] = final_data['편의점 경쟁업체 수']
final_df

               인구수     유동인구           구매력  경쟁업체
중앙동    2730.361469   5509.0   5973.895266    25
동광동    3098.727611    841.0   3687.832732     5
대청동    6488.369946    501.0   5312.156844     4
보수동   10777.853924    456.0   5747.936901     4
부평동    4824.404823    923.0    4855.97519    11
..             ...      ...           ...   ...
강서구  212685.372048  33360.0  34882.402474   160
연제구  419594.596814  28325.0  58281.043858   181
수영구  355326.328643  26066.0  58795.822205   173
사상구  432266.162913  42908.0  64646.371412   158
기장군  353084.862935  38827.0  24262.478599   154

[223 rows x 4 columns]

## 무인화

In [19]:
final_df['무인화'] = final_data['여성인구'] + final_data['외국인 수']
final_df

               인구수     유동인구           구매력  경쟁업체            무인화
중앙동    2730.361469   5509.0   5973.895266    25    1642.310054
동광동    3098.727611    841.0   3687.832732     5    1720.095606
대청동    6488.369946    501.0   5312.156844     4    3534.320690
보수동   10777.853924    456.0   5747.936901     4    5796.653114
부평동    4824.404823    923.0    4855.97519    11    2830.392878
..             ...      ...           ...   ...            ...
강서구  212685.372048  33360.0  34882.402474   160   75528.378900
연제구  419594.596814  28325.0  58281.043858   181  110145.111536
수영구  355326.328643  26066.0  58795.822205   173   95576.297390
사상구  432266.162913  42908.0  64646.371412   158  112085.894593
기장군  353084.862935  38827.0  24262.478599   154   90914.846944

[223 rows x 5 columns]

## 등급

In [12]:
# from sklearn.ensemble import RandomForestClassifier
# import pprint
# import random

# dong_df = final_df.iloc[:-16, :]
# gu_df = final_df.iloc[-16:, :]
# final_grade = final_data['등급'].fillna('0등급')

# normalization_df = (dong_df - dong_df.mean())/dong_df.std()
# normalization_df.dropna()
# tmp = []
# X = []
# y = []

# train_data = random.sample(dong_df.dropna().index.to_list(), 200)

# for index in train_data:
#     if final_grade[index] != '0등급':
#         X.append([dong_df['인구수'][index], dong_df['유동인구'][index], dong_df['구매력'][index], dong_df['경쟁업체'][index], dong_df['여성인구'][index], dong_df['외국인 수'][index]])
#         y.append(int(final_grade[index][0]))

# # pprint.pprint(sorted(tmp))
# X = np.array(X)
# y = np.array(y)

# reg = LinearRegression().fit(X, y)
# # reg = RandomForestClassifier().fit(X, y)
# print("score(0 ~ 1 = 0% ~ 100%): ", reg.score(X, y))

# total = 0
# correct = 0
# for index in dong_df.dropna().index:
#     # if index not in train_data:
#     if final_grade[index] != '0등급':
#         total += 1
#         print(index)
#         if round(reg.predict(np.array([dong_df['인구수'][index], dong_df['유동인구'][index], dong_df['구매력'][index], normalization_df['경쟁업체'][index], dong_df['여성인구'][index], dong_df['외국인 수'][index]]).reshape(-1, 6))[0]) == int(final_grade[index][0]):
#             correct += 1
# print(total, correct)
#     # print(row['등급'])

In [20]:
from sklearn.ensemble import RandomForestClassifier
import pprint
import random

dong_df = final_data.iloc[:-16, :]
gu_df = final_data.iloc[-16:, :]
final_grade = final_data['등급'].fillna('0등급')

normalization_df = (dong_df - dong_df.mean())/dong_df.std()
normalization_df.dropna()
tmp = []
X = []
y = []

train_data = random.sample(dong_df.dropna().index.to_list(), 198)

for index in train_data:
    if final_grade[index] != '0등급':
        row_data = []
        for col in final_data.columns:
            if col != '등급':
                row_data.append(dong_df[col][index])
        X.append(row_data)
        y.append(int(final_grade[index][0]))

# pprint.pprint(sorted(tmp))
X = np.array(X)
y = np.array(y)

reg = LinearRegression().fit(X, y)
# reg = RandomForestClassifier().fit(X, y)
print("score(0 ~ 1 = 0% ~ 100%): ", reg.score(X, y))

total = 0
correct = 0
for index in dong_df.dropna().index:
    # if index not in train_data:
    if final_grade[index] != '0등급':
        total += 1
        row_data = []
        for col in final_data.columns:
            if col != '등급':
                row_data.append(dong_df[col][index])
        if round(reg.predict(np.array(row_data).reshape(-1, len(row_data)))[0]) == int(final_grade[index][0]):
            correct += 1
print("총 개수: ", total)
print("등급을 맞춘 개수: ", correct)
print("정확도: {:.2f}%".format(correct / total * 100))
    # print(row['등급'])

score(0 ~ 1 = 0% ~ 100%):  0.5935834427881185
총 개수:  198
등급을 맞춘 개수:  119
정확도: 60.10%

In [22]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 중앙동 to 기장군
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   세대수             218 non-null    float64
 1   인구수             218 non-null    float64
 2   202003_maxAmt   218 non-null    float64
 3   202003_minAmt   218 non-null    float64
 4   202003_saleAmt  218 non-null    float64
 5   202004_maxAmt   218 non-null    float64
 6   202004_minAmt   218 non-null    float64
 7   202004_saleAmt  218 non-null    float64
 8   202005_maxAmt   218 non-null    float64
 9   202005_minAmt   218 non-null    float64
 10  202005_saleAmt  218 non-null    float64
 11  202006_maxAmt   218 non-null    float64
 12  202006_minAmt   218 non-null    float64
 13  202006_saleAmt  218 non-null    float64
 14  202007_maxAmt   218 non-null    float64
 15  202007_minAmt   218 non-null    float64
 16  202007_saleAmt  218 non-null    float64
 17  202008_maxAmt   218 non-null    float64
 18  202008_minAmt   218 non-null    float64
 19  202008_saleAmt  218 non-null    float64
 20  202009_maxAmt   218 non-null    float64
 21  202009_minAmt   218 non-null    float64
 22  202009_saleAmt  218 non-null    float64
 23  202010_maxAmt   218 non-null    float64
 24  202010_minAmt   218 non-null    float64
 25  202010_saleAmt  218 non-null    float64
 26  202011_maxAmt   218 non-null    float64
 27  202011_minAmt   218 non-null    float64
 28  202011_saleAmt  218 non-null    float64
 29  202012_maxAmt   218 non-null    float64
 30  202012_minAmt   218 non-null    float64
 31  202012_saleAmt  218 non-null    float64
 32  202101_maxAmt   218 non-null    float64
 33  202101_minAmt   218 non-null    float64
 34  202101_saleAmt  218 non-null    float64
 35  202102_maxAmt   218 non-null    float64
 36  202102_minAmt   218 non-null    float64
 37  202102_saleAmt  218 non-null    float64
 38  202103_maxAmt   218 non-null    float64
 39  202103_minAmt   218 non-null    float64
 40  202103_saleAmt  218 non-null    float64
 41  guAmt           218 non-null    float64
 42  guMax           218 non-null    float64
 43  guMin           218 non-null    float64
 44  prevMonCnt      218 non-null    float64
 45  prevYearCnt     218 non-null    float64
 46  saleCnt         218 non-null    float64
 47  day             218 non-null    float64
 48  dayAvg          218 non-null    float64
 49  fifthHour       218 non-null    float64
 50  firstHour       218 non-null    float64
 51  fourthHour      218 non-null    float64
 52  fri             218 non-null    float64
 53  mon             218 non-null    float64
 54  sat             218 non-null    float64
 55  secondHour      218 non-null    float64
 56  sixthHour       218 non-null    float64
 57  sun             218 non-null    float64
 58  thirdHour       218 non-null    float64
 59  thur            218 non-null    float64
 60  tues            218 non-null    float64
 61  wed             218 non-null    float64
 62  weekend         218 non-null    float64
 63  등급              203 non-null    object
 64  편의점 경쟁업체 수      223 non-null    int64
 65  여성인구            218 non-null    float64
 66  외국인 수           218 non-null    float64
dtypes: float64(65), int64(1), object(1)
memory usage: 126.6+ KB

In [23]:
final_txt = open("../DATA/final_data.txt", 'w')


for index in final_df.index:
    row = str(index) + ":"
    for col in final_df.columns:
        row += str(final_df[col][index]) + ","
    row = row[:-1] + '\n'
    final_txt.write(row)
final_txt.close()

In [24]:
final_df.columns

Index(['인구수', '유동인구', '구매력', '경쟁업체', '무인화'], dtype='object')