In [1]:
import pandas as pd

In [9]:
test1 = pd.read_csv('./DATA/부산광역시_전체_세대_및_인구개황_20210328195505.csv')
test1

,구·군별,2020. 11,2020. 11.1,2020. 11.2,2020. 11.3,2020. 11.4,2020. 11.5,2020. 11.6,2020. 11.7,2020. 12,...,2020. 12.6,2020. 12.7,2021. 01,2021. 01.1,2021. 01.2,2021. 01.3,2021. 01.4,2021. 01.5,2021. 01.6,2021. 01.7
0,구·군별,읍면동수 (개),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢),읍면동수 (개),...,면적 (㎢),인구밀도 (명/㎢),읍면동수 (개),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
1,부산광역시,205,1527721,3442633,1688633,1754000,100.0,770.07,4471,205,...,770.07,4465,205,1532700,3435787,1684737,1751050,100.0,770.07,4462
2,중구,9,23773,43571,21609,21962,1.3,2.83,15396,9,...,2.83,15412,9,23923,43657,21599,22058,1.3,2.83,15427
3,서구,13,53724,110027,53535,56492,3.2,13.98,7870,13,...,13.96,7883,13,53881,109876,53464,56412,3.2,13.96,7871
4,동구,12,46003,91194,44619,46575,2.6,9.87,9240,12,...,9.86,9235,12,46081,90905,44464,46441,2.6,9.86,9220
5,영도구,11,54896,115513,57142,58371,3.4,14.20,8135,11,...,14.20,8109,11,54905,114844,56803,58041,3.3,14.20,8088
6,부산진구,20,172561,362213,174861,187352,10.5,29.67,12208,20,...,29.67,12225,20,173746,362772,174998,187774,10.6,29.67,12227
7,동래구,13,114826,272403,132444,139959,7.9,16.63,16380,13,...,16.63,16354,13,115221,271917,132126,139791,7.9,16.63,16351
8,남구,17,117804,273735,134096,139639,8.0,26.82,10206,17,...,26.82,10184,17,117885,272700,133507,139193,7.9,26.82,10168
9,북구,13,120665,287203,142052,145151,8.3,39.37,7295,13,...,39.37,7272,13,120728,285787,141324,144463,8.3,39.37,7259
10,해운대구,18,171099,407182,196040,211142,11.8,51.47,7911,18,...,51.50,7899,18,171528,406349,195600,210749,11.8,51.50,7890
11,사하구,16,138906,317333,158470,158863,9.2,41.77,7597,16,...,41.77,7571,16,138852,315489,157568,157921,9.2,41.77,7553
12,금정구,16,107491,237153,115433,121720,6.9,65.27,3633,16,...,65.26,3624,16,107415,235664,114741,120923,6.9,65.26,3611
13,강서구,8,57690,142064,74866,67198,4.1,181.49,783,8,...,181.49,786,8,58512,143347,75515,67832,4.2,181.49,790
14,연제구,12,92535,210666,101381,109285,6.1,12.10,17410,12,...,12.10,17366,12,92694,209856,100913,108943,6.1,12.10,17343
15,수영구,10,84049,178576,84335,94241,5.2,10.21,17490,10,...,10.21,17492,10,84460,178441,84273,94168,5.2,10.21,17477
16,사상구,12,97419,217787,110221,107566,6.3,36.09,6035,12,...,36.10,6015,12,97687,216678,109640,107038,6.3,36.10,6002
17,기장군,5,74280,176013,87529,88484,5.1,218.30,806,5,...,218.30,809,5,75182,177505,88202,89303,5.2,218.30,813

In [10]:
test2 = pd.read_csv('./DATA/소상공인시장진흥공단_상가(상권)정보_부산_202012.csv', error_bad_lines=False)
test2

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17175332,정성밥상,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.635010e+24,NaN,부산광역시 해운대구 해운대로 635-7,612819,48087.0,NaN,NaN,NaN,129.159641,35.164474
1,23206623,미광장,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,I55112,...,2.611010e+24,NaN,부산광역시 중구 보수대로44번길 5,600074,48974.0,NaN,NaN,NaN,129.023668,35.100979
2,20418637,BHC치킨,동래점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2.626010e+24,NaN,부산광역시 동래구 동래로147번길 18,607020,47802.0,NaN,NaN,NaN,129.087156,35.205267
3,24659633,스텔라,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2.650010e+24,비치아파트,부산광역시 수영구 광안해변로 100,613751,48305.0,NaN,NaN,20,129.115397,35.143770
4,17174094,도란도란,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.623010e+24,NaN,부산광역시 부산진구 가야대로482번길 29-3,614813,47327.0,NaN,NaN,NaN,129.024938,35.151645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141949,17221774,비에스마트,NaN,D,소매,D03,종합소매점,D03A02,수퍼마켓,G47121,...,2.650010e+24,화광,부산광역시 수영구 망미로22번길 75,613825,48234.0,NaN,NaN,201,129.100584,35.170857
141950,17222038,행복한마트,NaN,D,소매,D03,종합소매점,D03A02,수퍼마켓,G47121,...,2.671030e+24,NaN,부산광역시 기장군 일광면 해빛5로 14,619912,46048.0,112,NaN,101,129.220741,35.260185
141951,17211619,24시간의신화,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.647010e+24,NaN,부산광역시 연제구 과정로 288,611816,47562.0,NaN,1.0,NaN,129.096058,35.188529
141952,17222726,현대헬스케어,NaN,D,소매,D10,건강/미용식품,D10A04,건강식품판매,G47216,...,2.638010e+24,NaN,부산광역시 사하구 낙동대로 332,604816,49344.0,NaN,3.0,NaN,128.980941,35.100503
141953,17208077,동안뷰티#,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,2.638010e+24,NaN,부산광역시 사하구 다대로277번길 13,604840,49509.0,NaN,2.0,NaN,128.978265,35.077620

In [11]:
test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141954 entries, 0 to 141953
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     141954 non-null  int64
 1   상호명        141953 non-null  object
 2   지점명        19568 non-null   object
 3   상권업종대분류코드  141954 non-null  object
 4   상권업종대분류명   141954 non-null  object
 5   상권업종중분류코드  141954 non-null  object
 6   상권업종중분류명   141954 non-null  object
 7   상권업종소분류코드  141954 non-null  object
 8   상권업종소분류명   141954 non-null  object
 9   표준산업분류코드   133337 non-null  object
 10  표준산업분류명    133337 non-null  object
 11  시도코드       141954 non-null  int64
 12  시도명        141954 non-null  object
 13  시군구코드      141954 non-null  int64
 14  시군구명       141954 non-null  object
 15  행정동코드      141954 non-null  int64
 16  행정동명       141770 non-null  object
 17  법정동코드      141954 non-null  int64
 18  법정동명       141954 non-null  object
 19  지번코드       141954 non-null  float64
 20  대지구분코드     141954 non-null  int64
 21  대지구분명      141954 non-null  object
 22  지번본번지      141954 non-null  int64
 23  지번부번지      121340 non-null  float64
 24  지번주소       141954 non-null  object
 25  도로명코드      141954 non-null  float64
 26  도로명        141954 non-null  object
 27  건물본번지      141954 non-null  int64
 28  건물부번지      20587 non-null   float64
 29  건물관리번호     141954 non-null  float64
 30  건물명        58116 non-null   object
 31  도로명주소      141954 non-null  object
 32  구우편번호      141954 non-null  int64
 33  신우편번호      141947 non-null  float64
 34  동정보        16059 non-null   object
 35  층정보        58184 non-null   float64
 36  호정보        23328 non-null   object
 37  경도         141954 non-null  float64
 38  위도         141954 non-null  float64
dtypes: float64(9), int64(9), object(21)
memory usage: 42.2+ MB

In [8]:
test3 = pd.read_csv('./DATA/읍면동별_산업대분류별_총괄_20210328195922.csv')
test3

,산업분류별,행정구역별,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6
0,산업분류별,행정구역별,사업체수,종사자수,남,여,매출액,영업비용,영업이익
1,전산업,전국,3874156,20889239,12097073,8792166,5311196484,4961774627,349421857
2,전산업,서울특별시,820658,5108828,2887719,2221109,1622426034,1539052038,83373996
3,전산업,부산광역시,278850,1371843,767956,603887,268724479,248118453,20606026
4,전산업,대구광역시,200069,895517,497786,397731,162627278,150908525,11718753
...,...,...,...,...,...,...,...,...,...
356,"협회 및 단체, 수리 및 기타 개인 서비스업",전라북도,17549,34513,18682,15831,1589537,1339445,250092
357,"협회 및 단체, 수리 및 기타 개인 서비스업",전라남도,17031,31994,17259,14735,1393416,1155169,238247
358,"협회 및 단체, 수리 및 기타 개인 서비스업",경상북도,23631,46649,23402,23247,1949291,1589070,360221
359,"협회 및 단체, 수리 및 기타 개인 서비스업",경상남도,26569,55921,26935,28986,2608817,2170965,437852
360,"협회 및 단체, 수리 및 기타 개인 서비스업",제주특별자치도,5156,11980,5938,6042,563806,475639,88167

In [12]:
test3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   산업분류별   361 non-null    object
 1   행정구역별   361 non-null    object
 2   2015    361 non-null    object
 3   2015.1  361 non-null    object
 4   2015.2  361 non-null    object
 5   2015.3  361 non-null    object
 6   2015.4  361 non-null    object
 7   2015.5  361 non-null    object
 8   2015.6  361 non-null    object
dtypes: object(9)
memory usage: 25.5+ KB

In [12]:
test4 = pd.read_csv('./DATA/산업대분류__읍면동별_사업체수__종사자수_20210328205349.csv')
test4

,산업대분류별(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2016.86,2016.87,2016.88,2016.89,2016.90,2016.91,2016.92,2016.93,2016.94,2016.95
0,산업대분류별(1),중구,중구,중구,중구,중구,중구,중구,중구,중구,...,서구,서구,동구,동구,동구,동구,동구,동구,동구,동구
1,산업대분류별(1),중앙동,중앙동,중앙동,중앙동,동광동,동광동,동광동,동광동,대청동,...,남부민2동,남부민2동,초량1동,초량1동,초량1동,초량1동,초량2동,초량2동,초량2동,초량2동
2,산업대분류별(1),사업체수 (개),종사자수 (명),남자종사자수 (명),여자종사자수 (명),사업체수 (개),종사자수 (명),남자종사자수 (명),여자종사자수 (명),사업체수 (개),...,남자종사자수 (명),여자종사자수 (명),사업체수 (개),종사자수 (명),남자종사자수 (명),여자종사자수 (명),사업체수 (개),종사자수 (명),남자종사자수 (명),여자종사자수 (명)
3,전체 산업,4827,39632,25072,14560,865,3301,2106,1195,681,...,1247,1204,1157,9424,5771,3653,977,2818,1291,1527
4,"농업, 임업 및 어업",5,459,439,20,8,474,458,16,-,...,108,8,2,19,14,5,-,-,-,-
5,광업,1,20,17,3,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,제조업,88,209,143,66,103,196,133,63,74,...,198,335,16,64,42,22,31,75,37,38
7,"전기, 가스, 증기 및 수도사업",-,-,-,-,-,-,-,-,1,...,-,-,-,-,-,-,-,-,-,-
8,"하수·폐기물 처리, 원료재생 및 환경 복원업",8,119,102,17,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,건설업,38,1153,948,205,15,31,27,4,4,...,27,6,30,261,216,45,12,85,74,11
10,도매 및 소매업,1321,4395,1969,2426,199,456,253,203,186,...,424,288,260,1034,686,348,263,642,334,308
11,운수업,1747,18932,14069,4863,73,642,523,119,42,...,129,33,221,2285,1889,396,46,69,55,14
12,숙박 및 음식점업,564,2040,627,1413,182,553,203,350,98,...,40,101,189,701,189,512,358,984,273,711
13,"출판, 영상, 방송통신 및 정보서비스업",47,700,510,190,12,30,11,19,6,...,1,2,15,84,62,22,2,8,3,5
14,금융 및 보험업,128,1814,816,998,21,160,90,70,8,...,9,8,64,1479,346,1133,17,81,46,35
15,부동산업 및 임대업,145,431,305,126,23,72,50,22,29,...,21,8,60,285,169,116,27,56,35,21
16,"전문, 과학 및 기술 서비스업",151,1752,1379,373,52,110,52,58,26,...,12,12,56,519,351,168,14,75,40,35
17,사업시설관리 및 사업지원서비스업,244,5001,2387,2614,36,264,178,86,11,...,13,12,86,1865,1486,379,14,26,17,9
18,"공공행정, 국방 및 사회보장 행정",17,1300,857,443,1,10,4,6,5,...,8,11,2,17,11,6,3,212,176,36
19,교육서비스업,32,125,47,78,10,19,10,9,37,...,89,171,17,118,43,75,13,26,10,16
20,보건업 및 사회복지 서비스업,25,464,85,379,10,84,26,58,46,...,29,90,19,366,66,300,39,247,96,151
21,"예술, 스포츠 및 여가관련서비스업",59,181,75,106,36,45,23,22,7,...,9,8,13,23,10,13,23,51,28,23
22,"협회 및 단체, 수리 및 기타 개인서비스업",207,537,297,240,84,155,65,90,101,...,130,111,107,304,191,113,115,181,67,114

In [13]:
test4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 97 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   산업대분류별(1)  23 non-null     object
 1   2016       23 non-null     object
 2   2016.1     23 non-null     object
 3   2016.2     23 non-null     object
 4   2016.3     23 non-null     object
 5   2016.4     23 non-null     object
 6   2016.5     23 non-null     object
 7   2016.6     23 non-null     object
 8   2016.7     23 non-null     object
 9   2016.8     23 non-null     object
 10  2016.9     23 non-null     object
 11  2016.10    23 non-null     object
 12  2016.11    23 non-null     object
 13  2016.12    23 non-null     object
 14  2016.13    23 non-null     object
 15  2016.14    23 non-null     object
 16  2016.15    23 non-null     object
 17  2016.16    23 non-null     object
 18  2016.17    23 non-null     object
 19  2016.18    23 non-null     object
 20  2016.19    23 non-null     object
 21  2016.20    23 non-null     object
 22  2016.21    23 non-null     object
 23  2016.22    23 non-null     object
 24  2016.23    23 non-null     object
 25  2016.24    23 non-null     object
 26  2016.25    23 non-null     object
 27  2016.26    23 non-null     object
 28  2016.27    23 non-null     object
 29  2016.28    23 non-null     object
 30  2016.29    23 non-null     object
 31  2016.30    23 non-null     object
 32  2016.31    23 non-null     object
 33  2016.32    23 non-null     object
 34  2016.33    23 non-null     object
 35  2016.34    23 non-null     object
 36  2016.35    23 non-null     object
 37  2016.36    23 non-null     object
 38  2016.37    23 non-null     object
 39  2016.38    23 non-null     object
 40  2016.39    23 non-null     object
 41  2016.40    23 non-null     object
 42  2016.41    23 non-null     object
 43  2016.42    23 non-null     object
 44  2016.43    23 non-null     object
 45  2016.44    23 non-null     object
 46  2016.45    23 non-null     object
 47  2016.46    23 non-null     object
 48  2016.47    23 non-null     object
 49  2016.48    23 non-null     object
 50  2016.49    23 non-null     object
 51  2016.50    23 non-null     object
 52  2016.51    23 non-null     object
 53  2016.52    23 non-null     object
 54  2016.53    23 non-null     object
 55  2016.54    23 non-null     object
 56  2016.55    23 non-null     object
 57  2016.56    23 non-null     object
 58  2016.57    23 non-null     object
 59  2016.58    23 non-null     object
 60  2016.59    23 non-null     object
 61  2016.60    23 non-null     object
 62  2016.61    23 non-null     object
 63  2016.62    23 non-null     object
 64  2016.63    23 non-null     object
 65  2016.64    23 non-null     object
 66  2016.65    23 non-null     object
 67  2016.66    23 non-null     object
 68  2016.67    23 non-null     object
 69  2016.68    23 non-null     object
 70  2016.69    23 non-null     object
 71  2016.70    23 non-null     object
 72  2016.71    23 non-null     object
 73  2016.72    23 non-null     object
 74  2016.73    23 non-null     object
 75  2016.74    23 non-null     object
 76  2016.75    23 non-null     object
 77  2016.76    23 non-null     object
 78  2016.77    23 non-null     object
 79  2016.78    23 non-null     object
 80  2016.79    23 non-null     object
 81  2016.80    23 non-null     object
 82  2016.81    23 non-null     object
 83  2016.82    23 non-null     object
 84  2016.83    23 non-null     object
 85  2016.84    23 non-null     object
 86  2016.85    23 non-null     object
 87  2016.86    23 non-null     object
 88  2016.87    23 non-null     object
 89  2016.88    23 non-null     object
 90  2016.89    23 non-null     object
 91  2016.90    23 non-null     object
 92  2016.91    23 non-null     object
 93  2016.92    23 non-null     object
 94  2016.93    23 non-null     object
 95  2016.94    23 non-null     object
 96  2016.95    23 non-null     object
dtypes: object(97)
memory usage: 17.6+ KB

In [5]:
test5 = pd.read_csv('./DATA/BC_BSN_AGE_CNT_202006.csv')
test5

      BASE_YEAR  BASE_MONTH GU_DC AGE_DC  MV_CNT
0          2016           1   강서구    10대     412
1          2016           1   강서구    20대     948
2          2016           1   강서구    30대    2384
3          2016           1   강서구    40대    2524
4          2016           1   강서구    50대    2463
...         ...         ...   ...    ...     ...
5371       2019          12  해운대구    30대    3651
5372       2019          12  해운대구    40대    4442
5373       2019          12  해운대구    50대    4158
5374       2019          12  해운대구    60대    2686
5375       2019          12  해운대구    70대    2144

[5376 rows x 5 columns]

In [6]:
test6 = pd.read_csv('./DATA/BC_BSN_TM_CNT_202006.csv')
test6

       BASE_YEAR  BASE_MONTH GU_DC TIME_DC  MV_CNT
0           2016           1   강서구      0시   13417
1           2016           1   강서구     10시   30544
2           2016           1   강서구     11시   29098
3           2016           1   강서구     12시   28016
4           2016           1   강서구     13시   28050
...          ...         ...   ...     ...     ...
18427       2019          12  해운대구      5시   25876
18428       2019          12  해운대구      6시   25612
18429       2019          12  해운대구      7시   25253
18430       2019          12  해운대구      8시   24752
18431       2019          12  해운대구      9시   24590

[18432 rows x 5 columns]

In [8]:
test7 = pd.read_csv('./DATA/BC_BSN_WEEK_CNT_202006.csv')
test7

      BASE_YEAR  BASE_MONTH GU_DC WEEK_DC  MV_CNT
0          2016           1   강서구       금   10468
1          2016           1   강서구       목   11671
2          2016           1   강서구       수   11897
3          2016           1   강서구       월   11251
4          2016           1   강서구       일    7225
...         ...         ...   ...     ...     ...
5371       2019          12  해운대구       수   25077
5372       2019          12  해운대구       월   24820
5373       2019          12  해운대구       일   26387
5374       2019          12  해운대구       토   26291
5375       2019          12  해운대구       화   24917

[5376 rows x 5 columns]

In [10]:
test8 = pd.read_csv('./DATA/BC_BSN_WK_CNT_202006.csv')
test8

      BASE_YEAR  BASE_MONTH GU_DC WORKTIME_DC  MV_CNT
0          2016           1   강서구          출근   32833
1          2016           1   강서구          퇴근   20904
2          2016           1   금정구          출근   11695
3          2016           1   금정구          퇴근   12641
4          2016           1   기장군          출근   32420
...         ...         ...   ...         ...     ...
1531       2019          12   영도구          퇴근   10712
1532       2019          12    중구          출근    7243
1533       2019          12    중구          퇴근   11127
1534       2019          12  해운대구          출근   24865
1535       2019          12  해운대구          퇴근   25551

[1536 rows x 5 columns]