In [32]:
import requests
import pprint
import json

import pandas as pd
import numpy as np

# Headers Query String Parameters
# admiCd: 지역코드
# upjongCd: G471903 (편의점)

In [33]:
simpleLoc = ''
admCd = ''
dataUrl = "https://sg.sbiz.or.kr/godo/getAvgAmtInfo.json"
popularUrl = "https://sg.sbiz.or.kr/godo/getPopularInfo.json"

In [56]:
salesAmount = pd.DataFrame()
series = pd.Series()

In [57]:
lines = open('./admCd.txt','r')
for line in lines:
  (simpleLoc, admCd) = line.split(': ')
  if not 'NO' in admCd:
    admCd = line.split('_')[1]

    payload = {'admiCd': int(admCd), 'upjongCd': 'G471903', 'simpleLoc':simpleLoc}
    r = requests.get(dataUrl, params=payload, verify=False)
    # pprint.pprint(json.loads(r.text))
    data = json.loads(r.text)
    annualSales = data['annualSales'] # maxAmt: 최대매출, minAmt: 최소매출, saleAmt: 평균매출 (array)
    series['loc'] = simpleLoc
    for annualSale in annualSales:
        series[annualSale['yymm'] + '_maxAmt' ] = annualSale['maxAmt']
        series[annualSale['yymm'] + '_minAmt' ] = annualSale['minAmt']
        series[annualSale['yymm'] + '_saleAmt'] = annualSale['saleAmt']
    series["guAmt"] = data['guAmt'] # 구 평균
    series["guMax"] = data['guMax'] # 구 max
    series["guMin"] = data['guMin'] # 구 min
    series["prevMonCnt"]  = data['prevMonCnt']  # 이전달 선택업종 업소수
    series["prevYearCnt"] = data['prevYearCnt'] # 이전년 선택업종 업소수
    series["saleCnt"]     = data['saleCnt']     # 현재  선택업종 업소수
    salesAmount = salesAmount.append(series, ignore_index=True)
    print(simpleLoc)

부산 부산진구 부전2동
부산 기장군 기장읍
부산 해운대구 우2동
부산 부산진구 부전1동
부산 동구 범일2동
부산 해운대구 중1동
부산 기장군 정관읍
부산 해운대구 우1동
부산 남구 대연3동
부산 해운대구 좌2동
부산 사상구 괘법동
부산 수영구 남천1동
부산 해운대구 좌1동
부산 중구 광복동
부산 사하구 하단2동
부산 부산진구 범천1동
부산 부산진구 전포1동
부산 수영구 민락동
부산 중구 중앙동
부산 남구 용호1동
부산 연제구 연산9동
부산 연제구 연산5동
부산 동래구 온천1동
부산 해운대구 재송1동
부산 사하구 당리동
부산 사상구 감전동
부산 금정구 남산동
부산 사상구 모라1동
부산 동래구 수민동
부산 동래구 안락2동
부산 중구 남포동
부산 수영구 수영동
부산 북구 화명3동
부산 연제구 연산4동
부산 수영구 광안2동
부산 동래구 명륜동
부산 북구 구포1동
부산 동래구 온천3동
부산 사하구 하단1동
부산 북구 덕천2동
부산 남구 대연1동
부산 부산진구 양정1동
부산 동래구 온천2동
부산 금정구 구서2동
부산 중구 부평동
부산 연제구 거제1동
부산 연제구 연산1동
부산 동구 초량3동
부산 수영구 광안1동
부산 사상구 엄궁동
부산 기장군 장안읍
부산 사하구 장림2동
부산 기장군 일광면
부산 부산진구 초읍동
부산 동래구 안락1동
부산 금정구 구서1동
부산 수영구 광안3동
부산 부산진구 개금1동
부산 사상구 학장동
부산 수영구 망미1동
부산 강서구 명지1동
부산 남구 대연5동
부산 강서구 대저2동
부산 영도구 남항동
부산 동래구 사직2동
부산 강서구 대저1동
부산 사하구 괴정3동
부산 북구 구포2동
부산 금정구 장전1동
부산 해운대구 반송1동
부산 사하구 괴정1동
부산 해운대구 반송2동
부산 금정구 서3동
부산 사하구 신평1동
부산 해운대구 재송2동
부산 부산진구 가야1동
부산 연제구 연산2동
부산 부산진구 당감1동
부산 동래구 사직1동
부산 금정구 부곡3동
부산 사상구 주례2동
부산 부산진구 양정2동
부산 해운대구 반여2동
부산 북구 금곡동
부산 금정구 장전2동
부산 사하구 장림1동
부산 북구 만덕2동
부산 사하구 다대2동
부산 연제구 연산8동
부산 서구 충무동
부산 동래구 사직3동
부산 수영구 남천2동
부산 남구 용호3동
부산 동래구 명장1동
부산 동구 수정2동
부산 수영구 광안4동
부산 남구 용호2동
부산 해운대구 좌4동
부산 부산진구 개금3동
부산 연제구 연산6동
부산 사하구 감천1동
부산 북구 화명1동
부산 해운대구 중2동
부산 사하구 신평2동
부산 부산진구 가야2동
부산 서구 서대신1동
부산 서구 암남동

In [59]:
salesAmount

,202002_maxAmt,202002_minAmt,202002_saleAmt,202003_maxAmt,202003_minAmt,202003_saleAmt,202004_maxAmt,202004_minAmt,202004_saleAmt,202005_maxAmt,...,202102_maxAmt,202102_minAmt,202102_saleAmt,guAmt,guMax,guMin,loc,prevMonCnt,prevYearCnt,saleCnt
0,15953.0,7144.0,10425.0,13875.0,6213.0,9067.0,14284.0,6397.0,9335.0,15736.0,...,9898.0,1622.0,5258.0,5766,14747,417,부산 부산진구 부전2동,41,45,41
1,8638.0,1295.0,4359.0,8863.0,1329.0,4472.0,8619.0,1292.0,4349.0,9267.0,...,9609.0,1529.0,4519.0,4511,10491,1479,부산 기장군 기장읍,58,47,59
2,8239.0,1803.0,5697.0,7313.0,1600.0,5057.0,6904.0,1510.0,4774.0,7714.0,...,7562.0,1728.0,5082.0,5982,14703,1600,부산 해운대구 우2동,52,48,52
3,11618.0,1764.0,5965.0,11787.0,1790.0,6052.0,11487.0,1744.0,5898.0,12755.0,...,14294.0,1968.0,6159.0,5766,14747,417,부산 부산진구 부전1동,32,30,32
4,10082.0,6284.0,8011.0,9362.0,5835.0,7438.0,9264.0,5774.0,7360.0,9763.0,...,9717.0,2611.0,6633.0,5295,12577,1168,부산 동구 범일2동,13,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,10234.0,1919.0,6077.0,9996.0,1875.0,5935.0,9595.0,1800.0,5697.0,10001.0,...,8384.0,2454.0,5183.0,5982,14703,1600,부산 해운대구 중2동,6,6,6
103,5626.0,1790.0,4481.0,5925.0,1885.0,4719.0,5681.0,1807.0,4526.0,6145.0,...,11617.0,1985.0,5726.0,4971,11726,1371,부산 사하구 신평2동,9,6,9
104,5406.0,5406.0,5406.0,5512.0,5512.0,5512.0,5138.0,5138.0,5138.0,5733.0,...,9726.0,5107.0,6624.0,5766,14747,417,부산 부산진구 가야2동,6,4,6
105,7770.0,3109.0,5209.0,7302.0,2922.0,4896.0,6740.0,2697.0,4519.0,7717.0,...,8054.0,2498.0,4581.0,4811,11160,1073,부산 서구 서대신1동,8,6,8
106,10894.0,1704.0,5677.0,10589.0,1656.0,5518.0,10246.0,1602.0,5339.0,12683.0,...,11160.0,3608.0,6709.0,4811,11160,1073,부산 서구 암남동,21,18,21

In [50]:
import datetime

def get_epochtime_ms():
    return round(datetime.datetime.utcnow().timestamp() * 1000)

population = pd.DataFrame()
series2 = pd.Series()

In [51]:
lines = open('./admCd.txt','r')
for line in lines:
  (simpleLoc, admCd) = line.split(': ')
  if not 'NO' in admCd:
    admCd = line.split('_')[1]

    payload = {'admiCd': int(admCd), 'mililis': get_epochtime_ms()}
    r = requests.get(popularUrl, params=payload, verify=False)
    data = (json.loads(r.text))['population']
    series2["loc"]    = simpleLoc # 구 평균
    series2["day"]    = data['day']      # 주중
    series2["weekend"]= data['weekend']  # 주말
    series2["dayAvg"] = data['dayAvg'] # 유동인구 평균
    series2["mon"]    = data['mon']  # 
    series2["tues"]   = data['tues'] # 
    series2["wed"]    = data['wed']  #
    series2["thur"]   = data['thur'] #
    series2["fri"]    = data['fri']  #
    series2["sat"]    = data['sat']  #
    series2["sun"]    = data['sun']  #
    series2["firstHour"]  = data['firstHour']  #  0 ~  3
    series2["secondHour"] = data['secondHour'] #  4 ~  7
    series2["thirdHour"]  = data['thirdHour']  #  8 ~ 11
    series2["fourthHour"] = data['fourthHour'] # 12 ~ 15
    series2["fifthHour"]  = data['fifthHour']  # 16 ~ 19
    series2["sixthHour"]  = data['sixthHour']  # 20 ~ 23
    population = population.append(series2, ignore_index=True)
    print(simpleLoc)

부산 부산진구 부전2동
부산 기장군 기장읍
부산 해운대구 우2동
부산 부산진구 부전1동
부산 동구 범일2동
부산 해운대구 중1동
부산 기장군 정관읍
부산 해운대구 우1동
부산 남구 대연3동
부산 해운대구 좌2동
부산 사상구 괘법동
부산 수영구 남천1동
부산 해운대구 좌1동
부산 중구 광복동
부산 사하구 하단2동
부산 부산진구 범천1동
부산 부산진구 전포1동
부산 수영구 민락동
부산 중구 중앙동
부산 남구 용호1동
부산 연제구 연산9동
부산 연제구 연산5동
부산 동래구 온천1동
부산 해운대구 재송1동
부산 사하구 당리동
부산 사상구 감전동
부산 금정구 남산동
부산 사상구 모라1동
부산 동래구 수민동
부산 동래구 안락2동
부산 중구 남포동
부산 수영구 수영동
부산 북구 화명3동
부산 연제구 연산4동
부산 수영구 광안2동
부산 동래구 명륜동
부산 북구 구포1동
부산 동래구 온천3동
부산 사하구 하단1동
부산 북구 덕천2동
부산 남구 대연1동
부산 부산진구 양정1동
부산 동래구 온천2동
부산 금정구 구서2동
부산 중구 부평동
부산 연제구 거제1동
부산 연제구 연산1동
부산 동구 초량3동
부산 수영구 광안1동
부산 사상구 엄궁동
부산 기장군 장안읍
부산 사하구 장림2동
부산 기장군 일광면
부산 부산진구 초읍동
부산 동래구 안락1동
부산 금정구 구서1동
부산 수영구 광안3동
부산 부산진구 개금1동
부산 사상구 학장동
부산 수영구 망미1동
부산 강서구 명지1동
부산 남구 대연5동
부산 강서구 대저2동
부산 영도구 남항동
부산 동래구 사직2동
부산 강서구 대저1동
부산 사하구 괴정3동
부산 북구 구포2동
부산 금정구 장전1동
부산 해운대구 반송1동
부산 사하구 괴정1동
부산 해운대구 반송2동
부산 금정구 서3동
부산 사하구 신평1동
부산 해운대구 재송2동
부산 부산진구 가야1동
부산 연제구 연산2동
부산 부산진구 당감1동
부산 동래구 사직1동
부산 금정구 부곡3동
부산 사상구 주례2동
부산 부산진구 양정2동
부산 해운대구 반여2동
부산 북구 금곡동
부산 금정구 장전2동
부산 사하구 장림1동
부산 북구 만덕2동
부산 사하구 다대2동
부산 연제구 연산8동
부산 서구 충무동
부산 동래구 사직3동
부산 수영구 남천2동
부산 남구 용호3동
부산 동래구 명장1동
부산 동구 수정2동
부산 수영구 광안4동
부산 남구 용호2동
부산 해운대구 좌4동
부산 부산진구 개금3동
부산 연제구 연산6동
부산 사하구 감천1동
부산 북구 화명1동
부산 해운대구 중2동
부산 사하구 신평2동
부산 부산진구 가야2동
부산 서구 서대신1동
부산 서구 암남동

In [54]:
population

,day,dayAvg,fifthHour,firstHour,fourthHour,fri,loc,mon,sat,secondHour,sixthHour,sun,thirdHour,thur,tues,wed,weekend
0,71.05,11915.0,28.35,4.90,27.48,13.86,부산 부산진구 부전2동,14.52,16.21,5.29,15.30,12.74,18.68,13.45,14.66,14.57,28.95
1,63.43,14078.0,27.29,4.09,32.54,13.39,부산 기장군 기장읍,12.26,18.43,6.38,10.71,18.15,19.00,12.84,12.44,12.50,36.57
2,69.58,13197.0,25.59,5.26,26.48,14.16,부산 해운대구 우2동,13.81,16.01,6.94,14.25,14.41,21.48,13.50,14.08,14.04,30.42
3,75.92,8204.0,26.35,3.52,29.30,14.10,부산 부산진구 부전1동,15.92,13.51,6.23,11.76,10.57,22.83,14.17,15.93,15.81,24.08
4,77.39,5565.0,24.78,3.24,29.43,14.43,부산 동구 범일2동,16.13,13.28,6.40,11.07,9.34,25.07,14.36,16.34,16.13,22.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,67.89,1711.0,23.84,9.00,25.13,14.51,부산 해운대구 중2동,13.09,16.17,8.48,16.23,15.94,17.32,13.69,13.26,13.34,32.11
103,75.88,2857.0,27.73,3.59,25.67,14.54,부산 사하구 신평2동,15.19,13.40,8.70,12.78,10.72,21.53,14.56,15.58,16.00,24.12
104,72.38,2172.0,26.07,6.59,24.17,14.40,부산 부산진구 가야2동,14.60,14.69,8.17,15.20,12.92,19.79,14.21,14.68,14.49,27.62
105,74.62,1815.0,26.50,3.89,24.79,14.78,부산 서구 서대신1동,15.05,13.56,8.17,13.25,11.82,23.40,14.25,15.18,15.35,25.38
106,70.66,3530.0,23.19,3.88,31.33,14.60,부산 서구 암남동,14.14,15.34,8.27,10.39,14.00,22.94,13.71,14.31,13.90,29.34

In [60]:
salesAmount.to_csv("매출액.csv")
population.to_csv("유동인구.csv")