In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('../DATA/소상공인시장진흥공단_상가(상권)정보_부산_202012.csv')
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17175332,정성밥상,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.635010e+24,NaN,부산광역시 해운대구 해운대로 635-7,612819,48087.0,NaN,NaN,NaN,129.159641,35.164474
1,23206623,미광장,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,I55112,...,2.611010e+24,NaN,부산광역시 중구 보수대로44번길 5,600074,48974.0,NaN,NaN,NaN,129.023668,35.100979
2,20418637,BHC치킨,동래점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2.626010e+24,NaN,부산광역시 동래구 동래로147번길 18,607020,47802.0,NaN,NaN,NaN,129.087156,35.205267
3,24659633,스텔라,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2.650010e+24,비치아파트,부산광역시 수영구 광안해변로 100,613751,48305.0,NaN,NaN,20,129.115397,35.143770
4,17174094,도란도란,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.623010e+24,NaN,부산광역시 부산진구 가야대로482번길 29-3,614813,47327.0,NaN,NaN,NaN,129.024938,35.151645

In [19]:
df['행정동명'].value_counts()

부전2동     3560
기장읍      3113
우2동      2956
부전1동     2437
범일2동     2255
         ...
봉래2동       94
모라3동       88
수정5동       80
금사회동동      51
초장동        49
Name: 행정동명, Length: 208, dtype: int64

In [50]:
df["상권업종중분류명"].value_counts().index

Index(['한식', '이/미용/건강', '종합소매점', '의복의류', '커피점/카페', '유흥주점', '음/식료품소매', '일식/수산물',
       '부동산중개', '분식', '가정/주방/인테리어', '세탁/가사서비스', '닭/오리요리', '자동차/이륜차',
       '가방/신발/액세서리', '화장품소매', '학원-보습교습입시', '양식', '사진/광학/정밀기기소매', '제과제빵떡케익',
       '패스트푸드', '중식', '학원기타', '건강/미용식품', '무도/유흥/가무', '학원-어학', '사무/문구/컴퓨터',
       '학원-음악미술무용', '철물/난방/건설자재소매', '선물/팬시/기념품', '모텔/여관/여인숙', '자동차/자동차용품',
       '유아교육', 'PC/오락/당구/볼링등', '운동/경기용품소매', '개인/가정용품수리', '가구소매', '시계/귀금속소매',
       '기타판매업', '가전제품소매', '의약/의료품소매', '대중목욕탕/휴게', '광고/인쇄', '주택수리', '학원-예능취미체육',
       '별식/퓨전요리', '요가/단전/마사지', '책/서적/도서', '운송/배달/택배', '사진', '주유소/충전소',
       '도서관/독서실', '호텔/콘도', '물품기기대여', '중고품소매/교환', '실내운동시설', '예식/의례/관혼상제',
       '페인트/유리제품소매', '개인서비스', '인력/고용/용역알선', '취미/오락관련소매', '기타서비스업', '애견/애완/동물',
       '기타음식업', '예술품/골동품/수석/분재', '부페', '학문교육기타', '분양', '대행업', '학원-자격/국가고시',
       '유아용품', '장례/묘지', '학원-컴퓨터', '행사/이벤트', '학원-창업취업취미', '민박/하숙', '음식배달서비스',
       '경마/경륜/성인오락', '캠프/별장/펜션', '평가/개발/관리', '연극/영화/극장', '운영관리시설', '종교용품판매',
       '놀이/여가/취미', '스포츠/운동', '법무세무회계', '실외운동시설', '유스호스텔', '부동산임대', '전시/관람',
       '기타교육기관'],
      dtype='object')

In [51]:
df[df["상권업종중분류명"] == "음/식료품소매"]["상권업종소분류명"].value_counts()

청과물소매      1238
식료품점       1121
수산물소매       778
육류소매        653
정육점         420
반찬가게        318
건어물상        158
곡물소매        100
식자재판매        98
미곡상          96
얼음가게         45
유기농식품판매      41
김치판매         33
생수판매         30
닭집           29
우유판매         26
어물상          18
냉동식품판매       17
두유판매          5
건과류판매         5
유과판매          2
제과재료판매        2
식용유판매         2
Name: 상권업종소분류명, dtype: int64

In [34]:
df[df["상권업종중분류명"] == '종합소매점']["상권업종소분류명"].value_counts()

편의점          2827
수퍼마켓         2010
종합소매         1366
시장/종합상가       677
잡화점           604
할인점           459
생활용품판매        303
구판장/직판장        43
백화점            42
아케이드/쇼핑센타      30
수입품판매점         19
혼수전문점          14
면세백화점           9
조합/연금매장         8
어판장             1
Name: 상권업종소분류명, dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141954 entries, 0 to 141953
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     141954 non-null  int64
 1   상호명        141953 non-null  object
 2   지점명        19568 non-null   object
 3   상권업종대분류코드  141954 non-null  object
 4   상권업종대분류명   141954 non-null  object
 5   상권업종중분류코드  141954 non-null  object
 6   상권업종중분류명   141954 non-null  object
 7   상권업종소분류코드  141954 non-null  object
 8   상권업종소분류명   141954 non-null  object
 9   표준산업분류코드   133337 non-null  object
 10  표준산업분류명    133337 non-null  object
 11  시도코드       141954 non-null  int64
 12  시도명        141954 non-null  object
 13  시군구코드      141954 non-null  int64
 14  시군구명       141954 non-null  object
 15  행정동코드      141954 non-null  int64
 16  행정동명       141770 non-null  object
 17  법정동코드      141954 non-null  int64
 18  법정동명       141954 non-null  object
 19  지번코드       141954 non-null  float64
 20  대지구분코드     141954 non-null  int64
 21  대지구분명      141954 non-null  object
 22  지번본번지      141954 non-null  int64
 23  지번부번지      121340 non-null  float64
 24  지번주소       141954 non-null  object
 25  도로명코드      141954 non-null  float64
 26  도로명        141954 non-null  object
 27  건물본번지      141954 non-null  int64
 28  건물부번지      20587 non-null   float64
 29  건물관리번호     141954 non-null  float64
 30  건물명        58116 non-null   object
 31  도로명주소      141954 non-null  object
 32  구우편번호      141954 non-null  int64
 33  신우편번호      141947 non-null  float64
 34  동정보        16059 non-null   object
 35  층정보        58184 non-null   float64
 36  호정보        23328 non-null   object
 37  경도         141954 non-null  float64
 38  위도         141954 non-null  float64
dtypes: float64(9), int64(9), object(21)
memory usage: 42.2+ MB

In [58]:
df_store = df[df["상권업종소분류명"] == "편의점"]
df_store[df_store["행정동명"] == "기장읍"].count()

상가업소번호       63
상호명          63
지점명          48
상권업종대분류코드    63
상권업종대분류명     63
상권업종중분류코드    63
상권업종중분류명     63
상권업종소분류코드    63
상권업종소분류명     63
표준산업분류코드     63
표준산업분류명      63
시도코드         63
시도명          63
시군구코드        63
시군구명         63
행정동코드        63
행정동명         63
법정동코드        63
법정동명         63
지번코드         63
대지구분코드       63
대지구분명        63
지번본번지        63
지번부번지        50
지번주소         63
도로명코드        63
도로명          63
건물본번지        63
건물부번지        12
건물관리번호       63
건물명          37
도로명주소        63
구우편번호        63
신우편번호        63
동정보           3
층정보          27
호정보           3
경도           63
위도           63
dtype: int64

## 과거데이터를 기반으로 편의점이나 슈퍼마켓 개수를 어떻게 뽑아냈는지 확인
 - 결론: 모르겠음

In [62]:
prev_df = pd.read_csv("../DATA/소상공인시장진흥공단_상가(상권)정보_부산_20200630.csv", encoding='CP949')
prev_df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20031733,동해제일산오징어,NaN,Q,음식,Q03,일식/수산물,Q03A13,낙지/오징어,I56111,...,2.626010e+24,NaN,"부산광역시 동래구 아시아드대로220번길 30, (온천동)",607060,47838.0,NaN,1.0,NaN,129.068324,35.202902
1,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2.653010e+24,산업용품유통상가,"부산광역시 사상구 괘감로 37, (괘법동)",617726,46977.0,NaN,1.0,26.0,128.980455,35.159774
2,20388346,옥이영양탕,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.623010e+24,NaN,"부산광역시 부산진구 범일로142번가길 16, (범천동)",614020,47364.0,NaN,1.0,NaN,129.060972,35.143421
3,20476586,대성식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2.644010e+24,NaN,"부산광역시 강서구 신포길 13-2, (명지동)",618813,46717.0,NaN,1.0,NaN,128.932142,35.112985
4,20033259,리지호프소주,NaN,Q,음식,Q06,양식,Q06A01,정통양식/경양식,I56114,...,2.623010e+24,NaN,"부산광역시 부산진구 범일로 166, (범천동)",614020,47361.0,NaN,1.0,NaN,129.059574,35.144776

In [60]:
prev_df_store = prev_df[prev_df["상권업종소분류명"] == "편의점"]
ev_df_store = prev_df[prev_df["상권업종소분류명"] == "편의점"]
prev_df_store[prev_df_store["행정동명"] == "중앙동"].count()

상가업소번호       23
상호명          23
지점명          15
상권업종대분류코드    23
상권업종대분류명     23
상권업종중분류코드    23
상권업종중분류명     23
상권업종소분류코드    23
상권업종소분류명     23
표준산업분류코드     23
표준산업분류명      23
시도코드         23
시도명          23
시군구코드        23
시군구명         23
행정동코드        23
행정동명         23
법정동코드        23
법정동명         23
지번코드         23
대지구분코드       23
대지구분명        23
지번본번지        23
지번부번지        21
지번주소         23
도로명코드        23
도로명          23
건물본번지        23
건물부번지         3
건물관리번호       23
건물명           8
도로명주소        23
구우편번호        23
신우편번호        23
동정보           1
층정보          10
호정보           7
경도           23
위도           23
dtype: int64

## 동별로 편의점 개수 확인

In [79]:
gu_list = df["행정동명"].value_counts().index.tolist()

for gu in gu_list:
    df_store = df[df["상권업종소분류명"] == "편의점"]
    print(gu, ": ", len(df_store[df_store["행정동명"] == gu].index))

부전2동 :  40
기장읍 :  63
우2동 :  48
부전1동 :  28
범일2동 :  12
중1동 :  48
정관읍 :  58
우1동 :  59
대연3동 :  42
좌2동 :  32
괘법동 :  32
녹산동 :  78
남천1동 :  25
좌1동 :  19
광복동 :  3
하단2동 :  30
범천1동 :  19
전포1동 :  37
민락동 :  31
중앙동 :  25
용호1동 :  20
연산9동 :  27
반여1동 :  19
연산5동 :  37
온천1동 :  31
재송1동 :  33
당리동 :  22
명지동 :  16
감전동 :  20
남산동 :  38
다대1동 :  18
모라1동 :  13
수민동 :  27
안락2동 :  17
남포동 :  20
수영동 :  13
화명3동 :  25
연산4동 :  20
광안2동 :  28
명륜동 :  14
구포1동 :  21
온천3동 :  27
하단1동 :  18
덕천2동 :  18
대연1동 :  25
양정1동 :  18
온천2동 :  12
동삼1동 :  17
구서2동 :  18
부평동 :  11
거제1동 :  17
연산1동 :  13
초량3동 :  22
광안1동 :  23
엄궁동 :  10
장안읍 :  16
장림2동 :  19
일광면 :  14
초읍동 :  15
전포2동 :  18
안락1동 :  18
구서1동 :  14
광안3동 :  19
개금1동 :  15
학장동 :  16
망미1동 :  11
명지1동 :  13
대연5동 :  16
대저2동 :  13
남항동 :  9
사직2동 :  12
대저1동 :  8
괴정3동 :  17
구포2동 :  18
장전1동 :  21
반송1동 :  11
괴정1동 :  18
반송2동 :  14
서3동 :  14
신평1동 :  12
재송2동 :  9
가야1동 :  23
연산2동 :  18
당감1동 :  9
사직1동 :  18
부곡3동 :  21
주례2동 :  22
양정2동 :  24
반여2동 :  5
금곡동 :  13
장림1동 :  14
장전2동 :  21
송정동 :  14
만덕2동 :  15
다대2동 :  18
연산8동 :  13
충무동 :  16
사직3동 :  12
남천2동 :  3
명장1동 :  6
용호3동 :  5
수정2동 :  10
용호2동 :  7
광안4동 :  12
좌4동 :  15
개금3동 :  9
연산6동 :  10
화명1동 :  11
감천1동 :  11
중2동 :  7
신평2동 :  9
가야2동 :  7
서대신1동 :  7
암남동 :  19
장전3동 :  5
거제3동 :  6
괴정4동 :  6
덕천1동 :  13
부암1동 :  15
구포3동 :  17
덕포2동 :  15
거제2동 :  10
금사동 :  5
연지동 :  6
청학2동 :  8
복산동 :  2
부암3동 :  9
주례3동 :  6
초량1동 :  7
초량2동 :  9
범일1동 :  6
만덕3동 :  6
대연4동 :  5
문현3동 :  9
영선1동 :  6
부곡2동 :  9
봉래1동 :  4
보수동 :  4
서2동 :  8
화명2동 :  7
당감4동 :  4
우3동 :  5
문현1동 :  5
주례1동 :  7
감만1동 :  13
괴정2동 :  10
강동동 :  5
삼락동 :  9
덕포1동 :  6
용당동 :  10
대연6동 :  5
범천2동 :  11
문현2동 :  9
망미2동 :  8
명장2동 :  5
동대신3동 :  7
대청동 :  4
문현4동 :  6
부민동 :  10
부곡4동 :  3
좌3동 :  7
반여3동 :  3
철마면 :  3
청룡노포동 :  7
좌천동 :  8
구평동 :  8
우암동 :  6
부곡1동 :  2
명지2동 :  2
영선2동 :  9
만덕1동 :  9
동광동 :  5
서대신3동 :  9
영주1동 :  6
동대신2동 :  7
용호4동 :  10
청학1동 :  8
연산3동 :  5
동삼2동 :  6
선두구동 :  4
당감2동 :  6
가덕도동 :  10
서1동 :  3
덕천3동 :  4
감천2동 :  0
남부민1동 :  1
동대신1동 :  2
반여4동 :  1
가락동 :  3
남부민2동 :  2
거제4동 :  5
개금2동 :  7
서대신4동 :  3
아미동 :  4
감만2동 :  4
초량6동 :  5
수정1동 :  4
동삼3동 :  1
영주2동 :  4
신선동 :  1
금성동 :  0
범일5동 :  0
수정4동 :  0
봉래2동 :  1
모라3동 :  2
수정5동 :  3
금사회동동 :  0
초장동 :  1

In [78]:
gu_list = df["행정동명"].value_counts().index.tolist()

for gu in gu_list:
    df_store = df[df["상권업종소분류명"] == "수퍼마켓"]
    print(gu, ": ", len(df_store[df_store["행정동명"] == gu].index))

부전2동 :  5
기장읍 :  36
우2동 :  9
부전1동 :  17
범일2동 :  6
중1동 :  11
정관읍 :  28
우1동 :  15
대연3동 :  11
좌2동 :  20
괘법동 :  23
녹산동 :  34
남천1동 :  6
좌1동 :  8
광복동 :  6
하단2동 :  21
범천1동 :  15
전포1동 :  15
민락동 :  9
중앙동 :  9
용호1동 :  23
연산9동 :  14
반여1동 :  20
연산5동 :  11
온천1동 :  10
재송1동 :  8
당리동 :  21
명지동 :  19
감전동 :  20
남산동 :  19
다대1동 :  19
모라1동 :  24
수민동 :  10
안락2동 :  12
남포동 :  9
수영동 :  13
화명3동 :  5
연산4동 :  12
광안2동 :  9
명륜동 :  7
구포1동 :  9
온천3동 :  13
하단1동 :  10
덕천2동 :  12
대연1동 :  14
양정1동 :  6
온천2동 :  5
동삼1동 :  21
구서2동 :  10
부평동 :  8
거제1동 :  12
연산1동 :  3
초량3동 :  9
광안1동 :  9
엄궁동 :  21
장안읍 :  15
장림2동 :  11
일광면 :  10
초읍동 :  19
전포2동 :  5
안락1동 :  11
구서1동 :  3
광안3동 :  8
개금1동 :  11
학장동 :  16
망미1동 :  12
명지1동 :  6
대연5동 :  7
대저2동 :  18
남항동 :  15
사직2동 :  11
대저1동 :  25
괴정3동 :  9
구포2동 :  12
장전1동 :  7
반송1동 :  19
괴정1동 :  13
반송2동 :  14
서3동 :  8
신평1동 :  17
재송2동 :  9
가야1동 :  15
연산2동 :  10
당감1동 :  5
사직1동 :  9
부곡3동 :  7
주례2동 :  16
양정2동 :  11
반여2동 :  12
금곡동 :  24
장림1동 :  7
장전2동 :  7
송정동 :  16
만덕2동 :  21
다대2동 :  14
연산8동 :  9
충무동 :  12
사직3동 :  9
남천2동 :  4
명장1동 :  8
용호3동 :  18
수정2동 :  8
용호2동 :  10
광안4동 :  17
좌4동 :  4
개금3동 :  10
연산6동 :  13
화명1동 :  8
감천1동 :  18
중2동 :  4
신평2동 :  10
가야2동 :  7
서대신1동 :  10
암남동 :  9
장전3동 :  1
거제3동 :  1
괴정4동 :  11
덕천1동 :  9
부암1동 :  3
구포3동 :  17
덕포2동 :  18
거제2동 :  5
금사동 :  15
연지동 :  4
청학2동 :  13
복산동 :  3
부암3동 :  11
주례3동 :  12
초량1동 :  6
초량2동 :  6
범일1동 :  14
만덕3동 :  12
대연4동 :  9
문현3동 :  4
영선1동 :  6
부곡2동 :  6
봉래1동 :  5
보수동 :  5
서2동 :  10
화명2동 :  12
당감4동 :  10
우3동 :  1
문현1동 :  11
주례1동 :  4
감만1동 :  7
괴정2동 :  5
강동동 :  9
삼락동 :  8
덕포1동 :  8
용당동 :  10
대연6동 :  6
범천2동 :  6
문현2동 :  5
망미2동 :  3
명장2동 :  11
동대신3동 :  0
대청동 :  3
문현4동 :  6
부민동 :  4
부곡4동 :  7
좌3동 :  6
반여3동 :  5
철마면 :  6
청룡노포동 :  1
좌천동 :  7
구평동 :  5
우암동 :  5
부곡1동 :  7
명지2동 :  3
영선2동 :  3
만덕1동 :  8
동광동 :  3
서대신3동 :  3
영주1동 :  4
동대신2동 :  4
용호4동 :  6
청학1동 :  14
연산3동 :  6
동삼2동 :  6
선두구동 :  6
당감2동 :  2
가덕도동 :  8
서1동 :  5
덕천3동 :  4
감천2동 :  10
남부민1동 :  5
동대신1동 :  6
반여4동 :  6
가락동 :  3
남부민2동 :  4
거제4동 :  8
개금2동 :  7
서대신4동 :  3
아미동 :  4
감만2동 :  1
초량6동 :  8
수정1동 :  0
동삼3동 :  6
영주2동 :  6
신선동 :  3
금성동 :  2
범일5동 :  6
수정4동 :  6
봉래2동 :  6
모라3동 :  11
수정5동 :  3
금사회동동 :  0
초장동 :  2

In [76]:
df["행정동명"].value_counts()

부전2동     3560
기장읍      3113
우2동      2956
부전1동     2437
범일2동     2255
         ...
봉래2동       94
모라3동       88
수정5동       80
금사회동동      51
초장동        49
Name: 행정동명, Length: 208, dtype: int64